doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title My-Shop
        link(rel="import" href="/public/nav.html")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia")
    body 
        header 
            include ../public/nav.html
            store 
                h1 National-Book-House
        main 
            if Books.length > 0
                each book in Books
                    content.bookStyle.container-fluid
                        .products
                            img.image(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVwDci-gzNUitwZChCrr7CtBTUjL6zrkrDgecY8y0tiU31pWGTtQbiVlG-QwjhIFnuTUU&usqp=CAU" alt="Book1") 
                            .cardCont
                                form(action=`/add-to-cart/${book.id}`, method="post") 
                                    .text 
                                    b Title: 
                                    p #{book.title}
                                    b Author: 
                                    p #{book.author}
                                    b Price: 
                                    p #{book.price}
                                    .btnCss 
                                        button.btn.btn-primary(type="submit") Add to Cart 
                                        a.btn.btn-primary(href=`/user/details-product/${book.id}`) Details 
            else 
                .notice
                    h1 No Books to Show!!
