doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Products-Cart
        link(rel="stylesheet" href="../css/style.css")
    body 
        header 
            include ../public/nav.html
        main 
            .format
                h3 Shopping Cart
                if cartItems.length > 0
                    .section
                        div.container
                            for prods in cartItems
                                hr(style="width:100%;text-align:left;margin-left:0")
                                .products
                                    img.image(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVwDci-gzNUitwZChCrr7CtBTUjL6zrkrDgecY8y0tiU31pWGTtQbiVlG-QwjhIFnuTUU&usqp=CAU" alt="Book1")               
                                    .cardCont.container
                                        .bookName
                                            b
                                                a(style="text-decoration: none", href=`/user/details-product/${prods.id}`) #{prods.title}
                                                p(style="margin:0") by #{prods.author}
                                        p M.R.P. #{prods.price}
                                            .actions 
                                                b Qty: #{prods.qty}
                                                a.btn(href=`/add-to-cart/${prods.prodId}`) Remove
                        div.totalCart
                            form(action="" method="post") 
                                h3(style="font-size: 20px") Subtotal #{noOfItems} items : 
                                    br
                                    b(style="font-size: x-large") #{totalPrice}
                                button.btn(type="submit") Proceed to Buy
                else 
                    h1 Add Items to Cart...!!!