doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Details
        link(rel="stylesheet" href="/css/style.css")
    body 
        header 
            include ../public/nav.html
        main
            .content.container.bookStyle
                .format
                    .products
                        img.image(src=`${product.imgurl}` alt="Book1")               
                        .cardCont.container
                            p #{product.title}
                            p #{product.author}
                            p #{product.price}
                    .discription 
                        p #{product.desc}
